# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Folders
sampleProject/build
sfmlGraphicsPipeline/build
sfmlGraphicsPipeline/extlib/freetype-2.5.5/build
sfmlGraphicsPipeline/extlib/tinyobjloader/build

# Precaución
.vscode 
.idea